extends ../layout

block content
    if formInvalids && formInvalids.length
        .error
        each f in formInvalids
            p.alert.alert-danger=f.msg
    .panel.panel-primary
        .panel-heading
            h3.panel-title 添加用户
        .panel-body
            form.form-horizontal(method="post" action="/admin/users/add")
                .form-group
                    label.col-sm-1.control-label(for="name") 名字
                    .col-sm-11
                        input.form-control#name(type="name",placeholder="名字",name="name",
                        value=userCreate.name,required)
                .form-group
                    label.col-sm-1.control-label(for="email") 邮箱
                    .col-sm-11
                        input.form-control#email(type="email",placeholder="邮箱",name="email",
                        value=userCreate.email,required)
                .form-group
                    label.col-sm-1.control-label(for="password") 密码
                    .col-sm-11
                        input.form-control#password(type="password",placeholder="密码",name="password",
                        value=userCreate.password,required)
                .form-group
                    label.col-sm-1.control-label(for="confirmPassword") 确认密码
                    .col-sm-11
                        input.form-control#confirmPassword(type="password",placeholder="确认密码",name="confirmPassword",
                        value=userCreate.confirmPassword,required)
                .form-group
                    label.col-sm-1.control-label
                    .col-sm-11
                        button.btn.btn-default(type="submit") 添加
