extends ../layout

append css
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/css/test.css')

block main
    .bg-con.rel
        .blog-circle-name.auto.tran_vm.rel
    .container.mt20
        .row
            .col-sm-8.mt10.pb30
                article.article-cube.mb10.pt10.pb10.pl30.pr30
                    h3.article-cube-title.g6
                        ="文章标题文章标题文章标题文章标题"
                    .article-cube-info.g9
                        span.mr5 v1sionary
                        span.mr5 写于
                        span.mr20 2016/08/30
                        span.mr20
                            i.fa.fa-heart.mr10(aria-hidden=true)
                            =0
                        span.mr20
                            i.fa.fa-commenting.mr10(aria-hidden=true)
                            =0
                    p.mt20
                        ="文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容"
                    .break
                article.article-cube.mb10.pt10.pb10.pl30.pr30
                    h3.article-cube-title.g6
                        ="文章标题文章标题文章标题文章标题"
                    .article-cube-info.g9
                        span.mr5 v1sionary
                        span.mr5 写于
                        span.mr20 2016/08/30
                        span.mr20
                            i.fa.fa-heart.mr10(aria-hidden=true)
                            =0
                        span.mr20
                            i.fa.fa-commenting.mr10(aria-hidden=true)
                            =0
                    p.mt20
                        ="文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容"
                    .break
                article.article-cube.mb10.pt10.pb10.pl30.pr30
                    h3.article-cube-title.g6
                        ="文章标题文章标题文章标题文章标题"
                    .article-cube-info.g9
                        span.mr5 v1sionary
                        span.mr5 写于
                        span.mr20 2016/08/30
                        span.mr20
                            i.fa.fa-heart.mr10(aria-hidden=true)
                            =0
                        span.mr20
                            i.fa.fa-commenting.mr10(aria-hidden=true)
                            =0
                    p.mt20
                        ="文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容"
                    .break
                article.article-cube.mb10.pt10.pb10.pl30.pr30
                    h3.article-cube-title.g6
                        ="文章标题文章标题文章标题文章标题"
                    .article-cube-info.g9
                        span.mr5 v1sionary
                        span.mr5 写于
                        span.mr20 2016/08/30
                        span.mr20
                            i.fa.fa-heart.mr10(aria-hidden=true)
                            =0
                        span.mr20
                            i.fa.fa-commenting.mr10(aria-hidden=true)
                            =0
                    p.mt20
                        ="文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容"
                    .break
                article.article-cube.mb10.pt10.pb10.pl30.pr30
                    h3.article-cube-title.g6
                        ="文章标题文章标题文章标题文章标题"
                    .article-cube-info.g9
                        span.mr5 v1sionary
                        span.mr5 写于
                        span.mr20 2016/08/30
                        span.mr20
                            i.fa.fa-heart.mr10(aria-hidden=true)
                            =0
                        span.mr20
                            i.fa.fa-commenting.mr10(aria-hidden=true)
                            =0
                    p.mt20
                        ="文章内容文章内容文章内容文章内容文章内容文章内章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容"
                    a.dib(href="http://www.baidu.com",target="_blank") 查看全文
                    .break
            .col-sm-3.col-sm-offset-1.mt10 文章分类
block scripts
    script(src='/js/blog/index.js')
